
@media screen and (max-width: 1500px){
    table {
        width: 50%;
        font-size: 0.5rem;
    }
}

@media screen and (max-width:1200px) {
    table {
        width: 50%;
        font-size: 0.3rem;
    }
    .dropbtn {
        padding: 8px;
    }
    .dropdown-content {
        min-width: 80px;
        box-shadow: none;
    }
    .dropdown-content a {
        color: black;
        padding: 6px 8px;
        text-shadow: none;
    }

}

@media screen and (max-width:800px) {
    table {
        width: 700px;
        font-size: 0.5rem;
    }
}